.navigation {
    background-color: gray;
    color: #ffffff;
    width: 200px;
    text-align: center;
    height: 754px;
    padding: 300px 10px;
    border: none;
    margin: auto;
    float: left;

}

#view {
    background-color: gray;
    border-color: gray;
    color: #ffffff;
}

#add {
    background-color: gray;
    border-color: gray;
    color: #ffffff;
}

#verify {
    background-color: gray;
    border-color: gray;
    color: #ffffff;
}

#update {
    background-color: gray;
    border-color: gray;
    color: #ffffff;
}

#delete {
    background-color: gray;
    border-color: gray;
    color: #ffffff;
}

section {
    text-align: center;
}
